@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: darkgrey;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;  
   
}


#cel{
    background-color:rgba(0, 0, 0, 0.068);
    background-image: url(../imagens/frame-iphone.png);
    background-size: 101% 101%;
    position: absolute;
    width: 307px;
    height: 617px;
    box-shadow: 10px 3px 10px 0px rgba(0, 0, 0, 0.199);
    border-radius: 50px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

iframe{
   
    box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 0, 0.466);
    border: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-49.8%, -48.8%);
    
    width: 264.5px;
    height: 466px;
}

section#redes-sociais {
    text-align: right;

}

img{
    box-sizing: border-box;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    
    
}

img:hover{
    border: 2px solid rgb(180, 180, 180);
    transform: translateX(-3px) translateY(-3px);
    box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.322);
    transition: 0.4s, border 0.2s;
   
}
